<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}
    <P style="background: cadetblue" >
    This is just a newspaper app i worked on front end was <br>built with bootstrap and the back end was built with python's django framework<br>
    so try and make a post,edit and delete posts and dont forget to leave a review
    </P>

     <P style="background: bisque" >
    This is just a newspaper app i worked on front end was <br>built with bootstrap and the back end was built with python's django framework<br>
    so try and make a post,edit and delete posts and dont forget to leave a review
    </P>

     <P style="background: salmon" >
    This is just a newspaper app i worked on front end was <br>built with bootstrap and the back end was built with python's django framework<br>
    so try and make a post,edit and delete posts and dont forget to leave a review
    </P>

     <P style="background: seagreen" >
    This is just a newspaper app i worked on front end was <br>built with bootstrap and the back end was built with python's django framework<br>
    so try and make a post,edit and delete posts and dont forget to leave a review
    </P>

     <P style="background: skyblue" >
    This is just a newspaper app i worked on front end was <br>built with bootstrap and the back end was built with python's django framework<br>
    so try and make a post,edit and delete posts and dont forget to leave a review
    </P>

     <P style="background: greenyellow" >
    This is just a newspaper app i worked on front end was <br>built with bootstrap and the back end was built with python's django framework<br>
    so try and make a post,edit and delete posts and dont forget to leave a review
    </P>

     <P style="background: honeydew" >
    This is just a newspaper app i worked on front end was <br>built with bootstrap and the back end was built with python's django framework<br>
    so try and make a post,edit and delete posts and dont forget to leave a review
    </P>
     <P style="background: lemonchiffon" >
   Dont worry it was repeated on purpose its all &hearts; &hearts; &hearts; &hearts; &hearts; &hearts; &hearts; &hearts; &hearts; &hearts; &hearts; &hearts; &hearts; &hearts;<br>
     &hearts; &hearts; &hearts; &hearts; &hearts; &hearts; &hearts; &hearts; &hearts; &hearts;<br> &hearts; &hearts; &hearts; &hearts; &hearts; &hearts; &hearts; &hearts; &hearts; &hearts; &hearts;
    <br>
     &hearts; &hearts; &hearts; &hearts; &hearts; &hearts; &hearts;
     <br>
     &hearts; &hearts; &hearts; &hearts; &hearts; &hearts; &hearts; &hearts; &hearts; &hearts; &hearts; &hearts; &hearts; &hearts;<br>
     &hearts; &hearts; &hearts; &hearts; &hearts; &hearts; &hearts; &hearts; &hearts; &hearts;<br> &hearts; &hearts; &hearts; &hearts; &hearts; &hearts; &hearts; &hearts; &hearts; &hearts; &hearts;
    <br>
     &hearts; &hearts; &hearts; &hearts; &hearts; &hearts; &hearts;

     </P>
{% endblock %}
</body>
</html>